[submodule "face_parsing_pytorch"]
	path = face_parsing_pytorch
	url = https://github.com/zllrunning/face-parsing.PyTorch.git
[submodule "dataset_preprocessing/ffhq/Deep3DFaceRecon_pytorch"]
	path = dataset_preprocessing/ffhq/Deep3DFaceRecon_pytorch
	url = https://github.com/sicxu/Deep3DFaceRecon_pytorch.git
